## [Titanic Kaggle Competition](https://www.kaggle.com/competitions/titanic/overview)

In [805]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn import tree
import math

In [806]:
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [807]:
d = df[['PassengerId', 'Pclass', 'Sex', 'Age', 'Fare', 'Survived']]
d

     PassengerId  Pclass     Sex   Age     Fare  Survived
0              1       3    male  22.0   7.2500         0
1              2       1  female  38.0  71.2833         1
2              3       3  female  26.0   7.9250         1
3              4       1  female  35.0  53.1000         1
4              5       3    male  35.0   8.0500         0
..           ...     ...     ...   ...      ...       ...
886          887       2    male  27.0  13.0000         0
887          888       1  female  19.0  30.0000         1
888          889       3  female   NaN  23.4500         0
889          890       1    male  26.0  30.0000         1
890          891       3    male  32.0   7.7500         0

[891 rows x 6 columns]

In [808]:
# to check if any row of this column has nan value
d['Pclass'].isna().any()

False

In [809]:
d['PassengerId'].isna().any()

False

In [810]:
d['Sex'].isna().any()

False

In [811]:
d['Age'].isna().any()

True

In [812]:
d['Fare'].isna().any()

False

In [813]:
d['Survived'].isna().any()

False

In [814]:
# since age has nan value so we will take mean value of it
mean_age = math.floor(d['Age'].mean())
mean_age

29

In [815]:
d['Age'] = d['Age'].fillna(mean_age)
d

<ipython-input-815-ea017f09a12f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Age'] = d['Age'].fillna(mean_age)

     PassengerId  Pclass     Sex   Age     Fare  Survived
0              1       3    male  22.0   7.2500         0
1              2       1  female  38.0  71.2833         1
2              3       3  female  26.0   7.9250         1
3              4       1  female  35.0  53.1000         1
4              5       3    male  35.0   8.0500         0
..           ...     ...     ...   ...      ...       ...
886          887       2    male  27.0  13.0000         0
887          888       1  female  19.0  30.0000         1
888          889       3  female  29.0  23.4500         0
889          890       1    male  26.0  30.0000         1
890          891       3    male  32.0   7.7500         0

[891 rows x 6 columns]

In [816]:
d['Age'].isna().any()

False

In [817]:
le = LabelEncoder()

In [818]:
d['Sex'] = le.fit_transform(d['Sex'])
d

<ipython-input-818-bfe6c662420b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Sex'] = le.fit_transform(d['Sex'])

     PassengerId  Pclass  Sex   Age     Fare  Survived
0              1       3    1  22.0   7.2500         0
1              2       1    0  38.0  71.2833         1
2              3       3    0  26.0   7.9250         1
3              4       1    0  35.0  53.1000         1
4              5       3    1  35.0   8.0500         0
..           ...     ...  ...   ...      ...       ...
886          887       2    1  27.0  13.0000         0
887          888       1    0  19.0  30.0000         1
888          889       3    0  29.0  23.4500         0
889          890       1    1  26.0  30.0000         1
890          891       3    1  32.0   7.7500         0

[891 rows x 6 columns]

In [819]:
x_train = d[['PassengerId', 'Pclass', 'Sex', 'Age', 'Fare']]
x_train

     PassengerId  Pclass  Sex   Age     Fare
0              1       3    1  22.0   7.2500
1              2       1    0  38.0  71.2833
2              3       3    0  26.0   7.9250
3              4       1    0  35.0  53.1000
4              5       3    1  35.0   8.0500
..           ...     ...  ...   ...      ...
886          887       2    1  27.0  13.0000
887          888       1    0  19.0  30.0000
888          889       3    0  29.0  23.4500
889          890       1    1  26.0  30.0000
890          891       3    1  32.0   7.7500

[891 rows x 5 columns]

In [820]:
y_train = d[['Survived']]
y_train

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [821]:
model = tree.DecisionTreeClassifier()

In [822]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [823]:
test_df = pd.read_csv('test.csv')
test_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [824]:
test_df['PassengerId'].isna().any()

False

In [825]:
test_df['Pclass'].isna().any()

False

In [826]:
test_df['Sex'].isna().any()

False

In [827]:
test_df['Age'].isna().any()

True

In [828]:
test_df['Fare'].isna().any()

True

In [829]:
test_df['Age'] = test_df['Age'].fillna(math.floor(test_df['Age'].mean()))
test_df['Age'].isna().any()

False

In [830]:
test_df['Fare'] = test_df['Fare'].fillna(math.floor(test_df['Fare'].mean()))
test_df['Fare'].isna().any()

False

In [831]:
test_df['Sex'] = le.fit_transform(test_df['Sex'])
test_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",1,30.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",1,30.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",1,30.0,1,1,2668,22.3583,NaN,C

In [832]:
x_test = test_df[['PassengerId', 'Pclass', 'Sex', 'Age', 'Fare']]
x_test

     PassengerId  Pclass  Sex   Age      Fare
0            892       3    1  34.5    7.8292
1            893       3    0  47.0    7.0000
2            894       2    1  62.0    9.6875
3            895       3    1  27.0    8.6625
4            896       3    0  22.0   12.2875
..           ...     ...  ...   ...       ...
413         1305       3    1  30.0    8.0500
414         1306       1    0  39.0  108.9000
415         1307       3    1  38.5    7.2500
416         1308       3    1  30.0    8.0500
417         1309       3    1  30.0   22.3583

[418 rows x 5 columns]

In [833]:
y_predicted = model.predict(x_test)

In [834]:
predicted_df = pd.DataFrame(test_df['PassengerId'], columns=['PassengerId'])
predicted_df

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [835]:
predicted_df['Survived'] = y_predicted
predicted_df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

To export the result to submission.csv use to_csv method. Set index to false if excluding

In [836]:
predicted_df.to_csv('submission.csv', index=False)